<div class="container mt-2 mb-3">
  <div class="row mt-2">
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-text">Code-Id-Shard</span>
        <input
          type="text"
          class="form-control"
          [value]="
            retailerInfo.Code +
            ' - ' +
            retailerInfo.Id +
            ' - ' +
            retailerInfo.GroupId
          "
          readonly="true"
        />
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-text"
          >FbUsers({{ retailerInfo.fbUsers?.length }})</span
        >
        <select
          class="form-select"
          [(ngModel)]="retailerInfo.fbId"
          (ngModelChange)="onFbidChange($event)"
        >
          <option *ngFor="let user of retailerInfo.fbUsers" [value]="user.fbid">
            {{ user.fbid }} - {{ user.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-text">FbUserToken</span>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="retailerInfo.fbUT"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="
            copyInputMessage(retailerInfo.fbUT);
            showToast('Copied FbUserToken!')
          "
        >
          <i class="far fa-copy"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-text"
          >Catalogs({{ catalogList?.length }})</span
        >
        <select
          class="form-select"
          [(ngModel)]="retailerInfo.CatalogId"
          (ngModelChange)="onCatalogChange($event)"
        >
          <option
            *ngFor="let catalog of catalogList"
            [value]="catalog.catalogId"
          >
            {{ catalog.catalogId + " - " + catalog.catalogName }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-text">CatalogToken</span>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="retailerInfo.CatalogToken"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="
            copyInputMessage(retailerInfo.CatalogToken);
            showToast('Copied Catalog Token!')
          "
        >
          <i class="far fa-copy"></i>
        </button>
      </div>
    </div>
  </div>
  <div
    *ngIf="toastMessage"
    class="toast show"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-body">{{ toastMessage }}</div>
  </div>
</div>
