<div class="container mt-2 mb-3">
  <div class="row mt-2">
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-text">RetailerId:</span>
        <input type="text" class="form-control" [(ngModel)]="retailerInfo.Id">
        <button class="btn btn-outline-secondary" type="button" (click)="copyInputMessage(retailerInfo.Id)">
          <i class="far fa-copy"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-text">RetailerCode:</span>
        <input type="text" class="form-control" [(ngModel)]="retailerInfo.Code">
        <button class="btn btn-outline-secondary" type="button" (click)="copyInputMessage(retailerInfo.Code)">
          <i class="far fa-copy"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-text">KvSession:</span>
        <input type="text" class="form-control" [(ngModel)]="retailerInfo.kvSession">
        <button class="btn btn-outline-secondary" type="button" (click)="copyInputMessage(retailerInfo.kvSession)">
          <i class="far fa-copy"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-text">Fbid:</span>
        <input type="text" class="form-control" [(ngModel)]="retailerInfo.fbUT">
        <button class="btn btn-outline-secondary" type="button" (click)="getTokenAndCopy()">
          <i class="fas fa-file-export"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-text">Get FBUT:</span>
        <input type="text" class="form-control" [(ngModel)]="retailerInfo.fbUT">
        <button class="btn btn-outline-secondary" type="button" (click)="getTokenAndCopy()">
          <i class="fas fa-file-export"></i>
        </button>
      </div>
    </div>
  </div>




</div>